// Place all the styles related to the Api::Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.two-rem {
    font-size: 2rem;
    color: #003073;
    margin: 20px;
}
.m-button{
    height: 35px;
    width: auto;
    text-align: center;
    padding:10px;
    padding-top: 7px;
    border: 1px solid grey;
    font-weight: bold;
    font-size: 14px;
    background-color: #003073;
    color: white;
    margin: 10px;
    margin-top: 30px;
}


// reason form
.reason-content {
    display: flex;
    flex-direction: column;
}
.reason-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reason-item {
    margin: 5px;
    height: 104px;
    width: 453px;
    border: 1px solid grey;
    box-shadow: 0 4px 2px -2px gray;
}
.home-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;    
}

.home-button{
    margin-top: 30px;
}




.margin-twenty-one {
    margin: 21px;
}

.reduce-lower-margin {
    margin-bottom: 10px;
}

// demographic page

.demographic-content {
    display: flex;
    flex-wrap: wrap;

}

.demographic-item {
    width: 50%;
    height: 75px;
    padding: 20px;
}

.demographic-item-title {
    text-decoration: underline;
}

.checkbox {
    margin: 20px;
    height: 35px;
    width: 241px;
    border: 1px solid black;
    border-radius: 1px;
    padding-top: 7px;
    text-align: center;
}

.demographic-confirm-button-container {
    display: flex;
    padding: 20px;
    width: 270px;
    justify-content: space-between;
}

.demographic-confirm-button-container * {
    height: 35px;
    width: 105px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid grey;
    font-weight: bold;
    font-size: 14px;
}

.demographic-confirm-button-container a {
    color: white;
    background-color: #FFC16E;
}




.unselected  {
    background: #DBDBDB;
}

.selected {
    background-color: #003073;
    color: white;
}



.back-button {
    margin-left: 0;
}

.start-over-button{
    color: white;
    background-color: #FFC16E;
    
}

.margin-twenty {
    margin: 20px;
}


// provider select
.provider-select-item {
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.2);
    margin: 0.25rem 0.5%;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    min-height: 5rem;
    width: 300px;
    border-left: 5px solid transparent;

}


.provider-select-item-title {
    font-size: 1.1rem;
}


.time-select-contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.time-select-item {
    height: 101px;
    width: 280px;
    padding: 8.6667px;
    border: 1px solid #e0e0e0;
    margin: 4.3333px;
    margin-left: 0;
}



.selected-bar {
    border-left: 5px solid #003073;

}

.load-times-button {
    width: 105px;
    height: 33.82px;
}
.no-times-button {
    width: 125px;
    height: 33.82px;
}

.time-select-description{
    padding: 12px;
}

.more-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
    margin-bottom: -10px;
}

.second-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003073;
}



// date select
.date-select {
    height: 34x;
    width: 150px;
    border: 1px solid #aaa;
    margin: 10px;
}

//confirm

.appointment-confirm-display {
    display: flex;
    flex-direction: column;
}

.display-titles {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    
}

.appointment-confirm-display-title {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
}

.appointment-confirm-details {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;

}

.margin-ten-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.appointment-confirm-details-item {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    padding: 15px;
}

.appointment-confirm-details-item * {
    padding: 5px;
}

.appointment-confirm-details-item i {
    font-size: 40px;
}

.appointment-confirm-input {
    width: 90%;
    height: 70px;
    border: 1px solid #aaa;
}