// Place all the styles related to the Api::Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reason-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reason-item {
    margin: 5px;
    height: 104px;
    width: 453px;
    border: 1px solid grey;
    box-shadow: 0 4px 2px -2px gray;
}

.margin-twenty-one {
    margin: 21px;
}