// Place all the styles related to the Api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background: image-url('background.png');
    background-size: cover;
}

.splash-content {
    width: 81%;
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    color: #0C316F;
    margin-bottom: 20px;
 }



// left side
 .splash-pitch-display {
     min-height: 707px;
     width: 923px;
     background: white;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 

.splash-list-row {
    margin-top: 32px;
    width: 95%;
    display: flex;
    flex-wrap: wrap; 
}

.splash-list-item {
    width: 50%;
    height: 119.31;
    display: flex;

}


.splash-icon {
    font-size: 69px;
    margin-left: 49.667px;
    margin-bottom: 69.333px; 
}

.splash-list-text {
    margin-left: 25px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    
    
}

.splash-list-text h2 {
    font-size: 1.15rem;
    font-weight: bold;
    padding-left: 2.5px;
    margin-bottom: 15px;
}
.splash-list-text span {
    font-size: .9rem;
}


.logo-container {
    width: auto;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
}

.logo-splash {
    background: image-url('MyHealth_Logo-01.png');
    background-size: cover;
    width: 350px;
    height: 100px;
}

// sidebar
.splash-sidebar {
    min-height: 707px;
    width: 310px;
    background-color: #EAF0F6;
}

.form-container {
    width: 90%;
    margin: auto;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.error-container {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert-card {
    background: image-url("login_warning.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: auto;
    margin-left: 45px; 
}

.login-form {
    display: flex;
    flex-direction: column;
}
.login-form p {
    font-size: .9rem;
}

.login-form-select {
    height: 40px;
}

.login-form label {
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid grey;
}

.login-button {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-button * {
    width: 100%;
    height: 100%;
    text-align: center;
}

.sign-in-button {
    text-align: center;
    font-weight: bold;
    background: #003073;
    color: white;
    margin-top: 15px;
}

.forgot-cred {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    font-size: .9rem;
}

.form-container h1 {
    text-align: center;
    height: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.15rem;
}

.sign-up-button {
    font-weight: bold;
    background: #FFC16E;
    color: #474747;
    margin-top: 20px;
}

.other {
    margin-top: 10px;
}



// Floating Labels/Placeholders for Input Fields- Codepen by Lucas Bebber -(https://codepen.io/lbebber/pen/uEHzD)

// @import "compass/css3";

// $padding-horizontal:20px;
// $highlight-color:#16abf0;



// input, .floating-placeholder{
//   font-family:Helvetica, Arial, sans-serif;
//   font-size:20pt;
//   line-height:2.6em;
//   height:2.6em;
//   margin:0;
//   padding:0;
//   width:100%;
// }
// .floating-placeholder input:focus+label{
//   color:$highlight-color;
// }
// .floating-placeholder input[value]+label{
//   color:red;
// }
// .floating-placeholder{
//   position:relative;
// }

// .floating-placeholder input{
//   font-size:20pt;
//   border:none;
//   outline:none;
//   position:absolute;
//   top:0;
//   left:0;
//   display:block;
//   background:transparent;
//   z-index:2;
//   border-bottom:1px solid #ccc;
//   text-indent:$padding-horizontal;
// }

// .floating-placeholder:last-child input{
//   border-bottom:none;
// }
// .floating-placeholder label{
//   display:block;
//   position:absolute;
//   top:0;
//   left:$padding-horizontal;
//   font-size:20pt;
//   z-index:1;
//   @include transform-origin(0,0.0em);
//   @include transition(transform 160ms, color 200ms);
//   @include transform(scale(1,1) rotateY(0));
//   color:#999;
// }
// .floating-placeholder-float label{
//   @include transform(scale(0.55,0.55) rotateY(0));
// }
// .floating-placeholder-float input{
//   line-height:3.4em;
// }