
// upcoming appointment modal
#upcoming-modal {
    position: absolute;
    z-index: -2;
}



// feature coming soon modal
.coming-soon-modal {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 0%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-transition: top 1s ; /* Safari */
    transition: top 1s;
    -webkit-box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
    box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
}
.coming-soon-modal h1 {
    width: 226px;
    height: 80px;
    margin: 29px auto;
    font-size: 1.4rem;
    font-weight: bold;
    color: #003073;

}

.coming-soon-show {
    z-index: 1;
    top: 20%
}

.welcome-content * {
    margin-left: 22px;
    margin-right: 22px;
}



// appointment dispay
.welcome-appointment-content {
    border: 1px solid #E0E0E0;
    display: flex;

}

.welcome-message {
    font-size: 2rem;
    color: #003073;
    margin: 20px;
}

.second-welcome-message {
    margin-left: 20px;
}

.nav-welcome-message {
    margin-left: 77px;
}

.appointment-list {
    width: 553.09px;
    height: 475px;
    margin: 5px;
    overflow: scroll;
    overflow-x: hidden;

    
}
.appointment-list-item {
    width: 90%;
    height: 102px;
    margin: 2px;
    padding: 20px;
}

second-welcome-message


// sidebar

.sidebar h1 {
    font-size: 1.4em;
    margintop: 16px;
}


.sidebar-item {
    height: 64.11px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
}



.welcome-sidebar-icon {
    font-size: 2.5rem;
}

.sidebar-item div {
    margin-top: 12px;
    margin-left: 12px;
}


.appointment-calender-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#caleandar {
    margin: 32px;
    margin-top: -127px;
}