


.welcome-content * {
    margin-left: 22px;
    margin-right: 22px;
}



// appointment dispay
.welcome-appointment-content {
    border: 1px solid #E0E0E0;
    display: flex;

}

.welcome-message {
    font-size: 2rem;
    color: #003073;
    margin: 20px;
}

.second-welcome-message {
    margin-left: 20px;
}

.nav-welcome-message {
    margin-left: 77px;
}

.appointment-list {
    width: 553.09px;
    height: 500px;
    margin: 5px;
    overflow: scroll;
    overflow-x: hidden;

    
}
.appointment-list-item {
    width: 90%;
    height: 102px;
    margin: 2px;
    padding: 20px;
}

second-welcome-message


// sidebar

.sidebar h1 {
    font-size: 1.4em;
    margintop: 16px;
}


.sidebar-item {
    height: 64.11px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
}



.welcome-sidebar-icon {
    font-size: 2.5rem;
}

.sidebar-item div {
    margin-top: 12px;
    margin-left: 12px;
}


.appointment-calender-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#caleandar {
    margin: 32px;
    margin-top: -127px;
}