
// grey area
#grey-area {
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    background: grey;
    top: 0;
}

.neg-z-one {
    z-index: -1;
}

.z-two {
    z-index: 3;
}

// provider display

.female-provider-image {
    height: 45px;
    width: 45px;
    background: image-url('female_provider.jpg');
    background-size: cover;
    border-radius: 25px;
    padding: 25px;
}

.male-provider-image {
    height: 45px;
    width: 45px;
    background: image-url('male_provider.png');
    background-size: cover;
    border-radius: 25px;
    padding: 25px;
    
}

.provider-show-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.provider-demographics {
    margin-left: 30px;
}
// upcoming appointment modal
#upcoming-modal {
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #FFFF;
    color: #002F73;
    margin-top: 30px;
    -webkit-box-shadow: 7px 10px 137px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 137px 19px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 137px 19px rgba(0,0,0,0.75);
    overflow: scroll;
}

.hidden{
    z-index: -1;
}

.show {
    z-index: 4;
}

.upcoming-modal-title {
    width: 100%;
    background-color: #F8FBFD;
    font-size: 1.6rem;
    padding: 10px;
}

.upcoming-month-list {
    margin: 35px;
}

.upcoming-month-container {
    margin-bottom: 50px;
}


.upcoming-month-title {
    margin: 15px;
    margin-left: 0;
    font: bold;
    font-size: 1.4rem;
}

.upcoming-appointment-list-item {
    width: 480px;
    height: 230px;
    margin: 10px;
    padding: 20px;
    border-left: 5px solid #003073;
    -webkit-box-shadow: 2px 2px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 23px 0px rgba(0,0,0,0.75);
}

.upcoming-appointment-list-item-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}


// feature coming soon modal
.coming-soon-modal {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 0%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-transition: top 1s ; /* Safari */
    transition: top 1s;
    -webkit-box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
    box-shadow: 9px 10px 22px 13px rgba(0,0,0,0.57);
}
.coming-soon-modal h1 {
    width: 226px;
    height: 80px;
    margin: 29px auto;
    font-size: 1.4rem;
    font-weight: bold;
    color: #003073;

}

.coming-soon-show {
    z-index: 1;
    top: 20%
}

.welcome-content * {
    margin-left: 22px;
    margin-right: 22px;
}



// appointment dispay
.welcome-appointment-content {
    border: 1px solid #E0E0E0;
    display: flex;

}

.welcome-message {
    font-size: 2rem;
    color: #003073;
    margin: 20px;
}

.second-welcome-message {
    margin-left: 20px;
}

.nav-welcome-message {
    margin-left: 77px;
}

.appointment-list {
    width: 553.09px;
    height: 475px;
    margin: 5px;
    overflow: scroll;
    overflow-x: hidden;

    
}
.appointment-list-item {
    width: 90%;
    height: 102px;
    margin: 2px;
    padding: 20px;
}

second-welcome-message


// sidebar

.sidebar h1 {
    font-size: 1.4em;
    margintop: 16px;
}


.sidebar-item {
    height: 64.11px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
}



.welcome-sidebar-icon {
    font-size: 2.5rem;
}

.sidebar-item div {
    margin-top: 12px;
    margin-left: 12px;
}


.appointment-calender-container {
    display: flex;
    justify-content: center;
}

#caleandar {
    margin: 32px;
    margin-top: -127px;
}