#ez-cal {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.2em;
}

.month {
    margin: auto;
    margin-top: 0;
}

.week {
    display: flex;
    flex-direction: row;
}

.day {
    height: 40px;
    width: 40px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 10px;
}

.ezCal-titlebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;

}

.ez-cal-button{
    height: 30%;
    margin: 5%;
}

.title-list {
    position: absolute;
    min-width: 300px;
    height: auto;
    z-index: 2;
    background: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    list-style-type: none;
    display: none;
    color: black;
    line-height: 15px;
    font-size: .8rem;
}

.mounted {
    cursor: pointer;
}

.day:hover .title-list {
    z-index: 2;
    display: block; 
}

.title-list li {
    list-style: none;
    left: -21px;
    top: 3px;
}

.past {
    color: grey;
}

.event-day {
    color: white;
    background-color: #003073;
    border-radius: 37px;
}